{% extends 'base.html.twig' %}

{% block body %}

    <main>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 ml-auto mr-auto">


                    <div class="box-upload">
                        <div class="row">
                            <div class="col-12 ml-auto mr-auto">
                                {% for type, messages in app.session.flashbag.all() %}
                                    {% for message in messages %}
                                        <div class="flash-{{type}}">{{message}}</div>
                                    {% endfor %}
                                {% endfor %}
                            </div>
                        </div>
                        {# alerts #}
                        <div class="row">
                            <div class="col-8 ml-auto mr-auto">
                                <picture>
                                    <img src="{{asset('images/logo-invillia.png')}}" class="img-fluid" alt="">
                                </picture>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-12 ml-auto mr-auto">
                                {{ form_start(uploadForm) }}
                                    {{ form_widget(uploadForm) }}
                                {{ form_end(uploadForm) }}
                            </div>
                        </div>
                    </div>
                    {# box-upload #}
                
                </div>
            </div>
        </div>
    </main>

{% endblock body %}